html{
    background-color: rgb(73, 73, 73);
}

a{
    color: black;
    padding-bottom: 15px;
}

a:hover{
    color: white;
}

header{
    display: flex;
    justify-content: center;
}

.imgData h2{
    display: flex;
    justify-content: center;
}

.imgData h5, a{
    display: flex;
    justify-content: center;
}

.contentRow{
    display: flex;
    width: 80%;
    gap: 20px;
    margin-top: 20px;
    justify-content: center;
}

.imgs{
    flex: 1;
    display: flex;
    justify-content: center;
}

.imgs img{
    width: 100%;
    max-width: 500px;
    border-radius: 6px;
}

.txts{
    flex: 1;
    display: flex;
    align-items: center;
}

.txts p{
    color: white;
}

.imgData{
    display: flex;
    flex-direction: column;
    align-items: center;
}

header{

    background-color:white;
    padding:5px;

    border-radius: 50px;

}

.imgData h2{

    margin-bottom: 0px;
    
    text-decoration: underline dotted white 4px;

}

.imgData h5{

    padding: 7px;
    border: 1px solid white;

}

.buttons{

    padding-top:30px;
    
    display:flex;
    gap:20px;

}

button{

    padding:15px;
    border-radius:50px;

}

button:hover{

    background-color:black;
    color:white;


}